/* ===== DARK MODE TOGGLE =========== */
html.dark body,
html.dark #main-wrapper {
  background: #111418 !important;
  color: #e9ecef;
}

html.dark .section { 
  background: transparent !important; 
}

/* Background Sections */
html.dark .bg-light,
html.dark .bg-white { 
  background-color: #212529 !important; 
}

html.dark #about { background: #212529 !important; }
html.dark #services,
html.dark #portfolio,
html.dark #contact { background: #343a40 !important; }
html.dark #resume,
html.dark #testimonial { background: #212529 !important; }

/* ========= PERBAIKAN UTAMA ========== */

html.dark h2.text-24.text-light.opacity-4.text-uppercase.fw-600.w-100.mb-0 {
  color: rgba(128, 128, 128, 0.3) !important;
}

/* Teks yang harus Putih */
html.dark p.mb-3.mb-lg-0,
html.dark .footer-copyright p,
html.dark .nav-separator .nav-link,
html.dark #footer .nav-link,
html.dark .text-white-50 {
    color: #ffffff !important;
}
html.dark .social-icons a i {
	color: #ffffff !important;
}

/* Modal - Teks Hitam */
html.dark .modal-content {
    background-color: #f8f9fa !important;
    color: #000000 !important;
}

html.dark .modal-header,
html.dark .modal-body {
    color: #000000 !important;
}

html.dark .modal-title,
html.dark .modal-body h3,
html.dark .modal-body h5,
html.dark .modal-body p,
html.dark .modal-body li,
html.dark .modal-body h4,
html.dark .modal-body h2 {
    color: #000000 !important;
}

/* Portfolio Ajax & Project Detail */
html.dark .ajax-container h2,
.ajax-container h4,
.ajax-container p,
.ajax-container span,
.ajax-container .list-style-2 span,
.ajax-container .text-dark,
.ajax-container .row.align-items-center {
  color: #ffffff !important;
}
.ajax-container { background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px) !important;
}
.ajax-container .social-icons a { color: #ffffff !important;
}


html.dark .list-style-2 .text-dark {
    color: #ffffff !important;
}

html.dark .list-style-2 span {
  color: #ffffff !important;; 
}

/* Perbaikan Umum Lainnya */
html.dark h1, html.dark h2, html.dark h3, html.dark h4, html.dark h5, html.dark h6 {
    color: #ffffff !important;
}

html.dark .text-dark, 
html.dark .text-muted { 
    color: #ffffff !important; 
}

html.dark .featured-box.style-3 .featured-box-icon { 
    background: #343a40 !important; 
}

html.dark .progress { 
    background-color: #495057 !important; 
}

html.dark .form-control,
html.dark .custom-select {
    background: #343a40 !important;
    border-color: #495057 !important;
    color: #fff !important;
}

html.dark #footer { 
    background: #212529 !important; 
}

html.dark .list-style-2 > li { 
    border-color: rgba(255,255,255,0.1) !important; 
}